@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');


* {
  box-sizing: border-box;
}

#logo {
  font-family: 'Merienda', cursive;
  color: white;
  display: inline;
  font-size: 20px;
  float: left;
  margin: 10px 15px;
}

.navbar {
  background-color: black;
  overflow: hidden;
}

.navbar a {
  float: left;
  text-decoration: none;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: 14px 16px;
}

.navbar a:hover {
  background-color: white;
  color: black;
}

.navbar a.active {
  background-color:white;
  color: black;
}



body {
  margin: 0px;
  font-family: 'Noto Sans JP', sans-serif;
  background-color: black;
}

.container {
  display: flex;
}

.column {
  height: 100vh;
  width: 50%;
  background-color: white;

}

.listfood {
  /* background-image: url("foodlistbg2.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: black;

}
/* 
table,
td,
th {
  background-color: white;
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 200px;
}

td {
  height: 20px;
  text-align: center;
} */

footer {
  font-family: 'Merienda', cursive;
  background-color: black;
  padding: 10px;
  text-align: center;
  color: white;
}


:root {
  --surface-color: #fff;
  --curve: 40;
}



.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
 
}

.card {
  position: relative;
  display: block;
  height: 100%;  
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {      
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px);    
  background-color: var(--surface-color);      
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}       

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;      
  border-radius: 50%;      
}

.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color:black;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";  
  font-size: .8em; 
  color: black;  
}

.card__status {
  font-size: .8em;
  color: black;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: black;
  font-family: "MockFlowFont";   
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}    