<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body>

    <div class="navbar">
      <h1 id="logo">Brand</h1>
      <a href="/menus">Menus</a>
      <a href="hi">Categories</a>
    </div>


 <div class="container">
   
        <div class="column listfood">
           <table style= "color:#fff;">
      <tr>
        <th>Id</th>
        <th>Item Name</th>
        <th>Price</th>
        <th>Category</th>
      </tr>

        <tr>
          <td><%= item.id %></td>
          <td><%= item.name %></td>
          <td><%= item.price %></td>
          <td><%= listcategories%></td>
        </tr>
    </table>
        </div> 
    </div>


    
    <footer>
  <p>Footer</p>
</footer>
  </body>
</html>
